<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
</head>
<body>
    <h1>Your Notes</h1>
</body>
</html>


    <!-- <button>Add</button> -->
     <!-- <%= JSON.stringify(notes) %>
    {{notes | json}} -->
    <!-- <ul>
        <% notes.forEach(note => { %>
            <li>
                <h3><%= note.title %></h3>
                <p><%= note.content %></p>
                <a href="/notes/<%= note._id %>/edit">Edit</a>
                <form action="/notes/<%= note._id %>?_method=DELETE" method="POST">
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% }); %>
    </ul> -->
    <!-- <a href="/dashboard">Back to Dashboard</a> -->
